<app-page pageName = "Room-Info">
    <div class="mdc-card" *ngIf="room$ | async as room">
        <h1>Room Name: {{room.name}}</h1>
        <h2>Devices assigned to the room: {{getDeviceNames(room.devices)}}</h2>
        <div class="mdc-card__actions">
            <div class='flex-container'>
                <button class="submit-button" type="submit" onclick="location.href='rooms'">Back</button>
                <button class="submit-button" type="submit" [routerLink]="'capacity/'">Change Capacity</button>
            </div>
        </div>
    </div>
</app-page>
